body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    height: 100vh;
    background-color: rgb(69, 69, 69);
    color: white;
}

.content {
    display: flex;
    height: 80vh;
    width: 95%;
    border-radius: 0.5rem;
}

.slider {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 95%;
}

.meme {
    width: 0;
    background: url(./content/1.jpg) no-repeat center;
    background-size: contain;
    border-radius: 0.5rem;
}

.meme img {
    height: fit-content;
}

.content .active {
    width: 100%;
}

.slider .sub {
    display: flex;
}

.slider .sub .text {
    display: none;
    width: 0;
}

.slider .sub .active {
    display: contents;
    width: 100%;
}

.slider .buttons {
    display: flex;
    width: 30%;
}

.slider .buttons .button {
    width: 1em;
    padding: 1em;
}

.slider .buttons .button:hover {
    background-color: aquamarine;
}